:root{
  --white : #ffffff;
  --dark : #000000;
}






*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

html{
  height: 100%;
  position: relative;
}

button:hover{
    cursor: pointer;
}

.flex{
  display: flex;
  display: -ms-flexbox;
}

.wrapper-darkmode{
  background-color: #242037;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.wrapper-lightmode{
  background-color: #ffe2e2;
  color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

nav{
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding-left: 10px;
  font-weight: 900;
  font-size: larger;
  font-family: monospace;
}

.nav-menu{
  padding-top: 10px;
  padding-right: 10px;
}

.connect-to-wallet{
  padding-right: 10px;
}

.connect-dark{
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  align-content: center;
  padding: 5px 10px;
  border-radius: 12px;
  user-select: none;
  font-weight: 500;
  background-color: #153d6f70;
  border: 1px solid #153d6f70;
  color: #6da8ff;
}

.connect-light{
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  align-content: center;
  padding: 5px 10px;
  border-radius: 12px;
  user-select: none;
  font-weight: 500;
  background-color: #FDEAF1;
  border: none;
  color: #ff007a;
}

.darkmode{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 3px 8px;
  height: 35px;
  border-radius: 8px;
  margin: 0;
  background-color: #383257;
  border: none;
  color: #fff;
}

.darkmode:hover{
  background-color: #f4c5c58a;
}

.lightmode:hover{
  background-color: #383257;
  color: #fff;
}

.lightmode{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 3px 8px;
  height: 35px;
  border-radius: 8px;
  margin: 0;
  border: none;
  background-color: #FDEAF1;
  color: #000;

}

.app-body-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  flex: 1;
  z-index: 1;
}

.app-body{
  position: relative;
  max-width: 480px;
  background-color: #191B1F;
  border-radius: 24px;
  margin-top: -3rem;
}

.app-body-light{
  position: relative;
  max-width: 480px;
  background-color: var(--white);
  border-radius: 24px;
  margin-top: -3rem;
}

.title p{
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  padding-top: 10px;
}

.swap-page{
  padding: 8px;
  position: relative;
}

.gridbox{
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 12px;
}

.swap-currency-input{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  width: initial;
  position: relative;
  border-radius: 20px;
  background-color: #212429;
  z-index: 1;
  border: 1px solid #2C2F36;
  padding-bottom: 16px;
}

.swap-currency-input-light{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  width: initial;
  position: relative;
  border-radius: 20px;
  background-color: #F7F8FA;
  z-index: 1;
  border: 1px solid #EDEEF2;
  padding-bottom: 16px;
}

.swap-currency-input:hover{
  border: 1px solid #40444F;
}

.swap-currency-input-light:focus, .swap-currency-input-light:hover {
  border: 1px solid #CED0D9;
}

.currency-input, .currency-output{
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  padding: 16px 16px 12px 16px;
}

.currency-input button{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  min-width: 0;
  margin-right: 12px;
  width: initial;
  border: none;
  padding: 0 8px;
  height: 2.4rem;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  color: var(--white);
  background-color: #191B1F;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  line-height: inherit;

}

.currency-output button{
  padding: 16px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight:bolder;
  background-color: #2172E5;
  color: var(--white);
  border-radius: 16px;
  cursor: pointer;
  border: none;
  height: 2.4rem;
  width: initial;
  padding: 0 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
}

.currency-input-panel{
  display: flex;
  width: 100%;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  -moz-box-pack: justify;
  align-items: center;
}

.currency-input-panel div{
  box-sizing: border-box;
  margin: 0;
  white-space: nowrap;
  min-width: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
}

.currency-input-panel div img{
  margin-right: 8px;
}

.dropdown{
  height: 35%;
  margin: 0 4px 0 5px;
}

.dropdown path{
  stroke: var(--white);
  stroke-width: 1.5px;
}

.input-dark{
  max-width: 304px;
  width: 100%;
  color: #565A69;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: #212429;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: bolder;
}

.input-light{
  max-width: 304px;
  width: 100%;
  color: #565A69;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: #F7F8FA;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: bolder;
}

@media(max-width: 600px){
  .app-body{
    margin: 0 20px;
  }
}

.shuffle{
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  margin: -14px 0;
  background-color: #2C2F36;
  border: 4px solid #191B1F;
  z-index: 2;
  left: calc(50% - 16px);
  
}

.shuffle-light{
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  margin: -14px 0;
  background-color: #F7F8FA;
  border: 4px solid #fff;
  z-index: 2;
  left: calc(50% - 16px);
  
}

.shuffle:hover {
  cursor: pointer;
  opacity: 0.8;
}

.shuffle-light:hover{
  cursor: pointer;
  opacity: 0.8;
}

.connectwallet {
  padding: 16px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: #153d6f70;
  color: #6da8ff;
  font-size: 16px;
  font-weight: 600;
}

.connectwallet-light {
  padding: 16px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: #FDEAF1;
  color: #ff007a;
  font-size: 16px;
  font-weight: 600;
}

.connectwallet-light:hover {
  background-color: #fcdce8;
}