:root{
  --white : #ffffff;
  --dark : #000000;
}






*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

html{
  height: 100%;
  position: relative;
}

button:hover{
    cursor: pointer;
}

.flex{
  display: flex;
  display: -ms-flexbox;
}

.wrapper-darkmode{
  background-color: #212429;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.wrapper-lightmode{
  background-color: #ffe2e2;
  color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

nav{
  padding: 8px 5px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding-left: 10px;
  font-weight: 900;
  font-size: larger;
  font-family: monospace;
}

.nav-menu{
  padding-top: 5px;
  padding-right: 10px;
}

.connect-to-wallet{
  padding-right: 10px;
}

.connect-dark{
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  align-content: center;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: 500;
  background-color: #153d6f70;
  border: 1px solid #153d6f70;
  color: #6da8ff;
}

.connect-light{
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  align-content: center;
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: 500;
  background-color: #FDEAF1;
  border: none;
  color: #ff007a;
}

.darkmode{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 3px 8px;
  height: 35px;
  border-radius: 8px;
  margin: 0;
  background-color: #212429;
  border: none;
  color: #fff;
}

.darkmode:hover{
  background-color: #FDEAF1;
  color: #000;
}

.lightmode:hover{
  background-color: #212429;
  color: #fff;
}

.lightmode{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 3px 8px;
  height: 35px;
  border-radius: 8px;
  margin: 0;
  border: none;
  background-color: #FDEAF1;
  color: #000;

}

.app-body-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  flex: 1;
  z-index: 1;
}

.app-body{
  position: relative;
  max-width: 480px;
  background-color: #191B1F;
  border-radius: 24px;
  margin-top: -3rem;
}

.app-body-light{
  position: relative;
  max-width: 480px;
  background-color: var(--white);
  border-radius: 24px;
  margin-top: -3rem;
}

.title p{
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  padding-top: 10px;
}

.swap-page{
  padding: 8px;
  position: relative;
}

.gridbox{
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 12px;
}

.swap-currency-input{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  width: initial;
  position: relative;
  border-radius: 20px;
  background-color: #212429;
  z-index: 1;
  border: 1px solid #2C2F36;
  padding-bottom: 16px;
}

.swap-currency-input-light{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  width: initial;
  position: relative;
  border-radius: 20px;
  background-color: #F7F8FA;
  z-index: 1;
  border: 1px solid #EDEEF2;
  padding-bottom: 16px;
}

.swap-currency-input:hover{
  border: 1px solid #40444F;
}

.swap-currency-input-light:focus, .swap-currency-input-light:hover {
  border: 1px solid #CED0D9;
}

.currency-input-dark, .currency-output-dark, .currency-input-light,.currency-output-light{
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  padding: 16px 16px 12px 16px;
}

.currency-input-dark button{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  min-width: 110px;
  margin-right: 12px;
  width: initial;
  border: none;
  padding: 0 8px;
  height: 2.4rem;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  color: var(--white);
  background-color: #191B1F;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  line-height: inherit;

}

.currency-input-light button{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  min-width: 110px;
  margin-right: 12px;
  width: initial;
  border: none;
  padding: 0 8px;
  height: 2.4rem;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  color: #000000;
  background-color: var(--white);
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  line-height: inherit;

}

.currency-output-dark button{
  padding: 16px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight:bolder;
  background-color: #2172E5;
  color: var(--white);
  border-radius: 16px;
  cursor: pointer;
  border: none;
  height: 2.4rem;
  width: initial;
  padding: 0 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
}

.currency-output-light button{
  padding: 16px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight:bolder;
  background-color: #ff007a;
  color: var(--white);
  border-radius: 16px;
  cursor: pointer;
  border: none;
  height: 2.4rem;
  width: initial;
  padding: 0 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
}

.currency-input-panel{
  display: flex;
  width: 100%;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  -moz-box-pack: justify;
  align-items: center;
}

.currency-input-panel div{
  box-sizing: border-box;
  margin: 0;
  white-space: nowrap;
  min-width: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.currency-input-panel div img{
  margin-right: 8px;
}

.token-dropdown{
  height: 35%;
  margin: 0 4px 0 5px;
}

.token-dropdown path{
  stroke: var(--white);
  stroke-width: 1.5px;
}

.input-dark{
  max-width: 304px;
  width: 100%;
  color: #565A69;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: #212429;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 500;
}

.input-light{
  max-width: 304px;
  width: 100%;
  color: #565A69;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: #F7F8FA;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 500;
}

@media(max-width: 600px){
  .app-body,.app-body-light{
    margin: 0 20px;
  }
}

.shuffle{
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  margin: -14px 0;
  background-color: #2C2F36;
  border: 4px solid #191B1F;
  z-index: 2;
  left: calc(50% - 16px);
  
}

.shuffle-light{
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  margin: -14px 0;
  background-color: #F7F8FA;
  border: 4px solid #fff;
  z-index: 2;
  left: calc(50% - 16px);
  
}

.shuffle:hover {
  cursor: pointer;
  opacity: 0.8;
}

.shuffle-light:hover{
  cursor: pointer;
  opacity: 0.8;
}

.connectwallet {
  padding: 16px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: #153d6f70;
  color: #6da8ff;
  font-size: 16px;
  font-weight: 600;
}

.connectwallet-light {
  padding: 16px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: #FDEAF1;
  color: #ff007a;
  font-size: 16px;
  font-weight: 600;
}

.connectwallet-light:hover {
  background-color: #fcdce8;
}

.walletmodal-wrapper,.tokenmodal-wrapper,.importmodal-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: var(--white);
  display: none;
}


.modal-wrapper-sc-1{
  margin: 0 0 32px 0;
  background-color: #191B1F;
  border: 1px solid #212429;
  width: 50vw;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 420px;
  max-height: 90vh;
  display: -webkit-box; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.modal-wrapper-sc-1-light{
  margin: 0 0 32px 0;
  background-color: var(--white);
  border: 1px solid #fff;
  width: 50vw;
  color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 420px;
  max-height: 90vh;
  display: -webkit-box; 
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

@media(max-width: 720px){
  .modal-wrapper-sc-1,.modal-wrapper-sc-1-light{
    width: 85vw;
  }
}

.walletmodal-wrapper-sc-2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
}

.walletmodal-headerrow{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 1rem 1rem;
  font-weight: 500;
  color: inherit;
}

.closeBtn:hover{
  cursor: pointer;
  opacity: 0.6;
}

.walletmodal-headerrow-text{
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.walletmodal-contentwrapper{
  background-color: #191B1F;
  padding: 0 16px 16px 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.walletmodal-contentwrapper-light{
  background-color: var(--white);
  padding: 0 16px 16px 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.walletmodal-contentwrapper-notice{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #2C2F36;
  background-color: #212429;
}

.walletmodal-contentwrapper-notice-light{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #EDEEF2;
  background-color: #F7F8FA;
}

.notice{
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  min-width: 0;
  font-weight: 500;
  font-size: 14px;
}

.walletmodal-optiongrid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}

.btns{
  background-color: #2C2F36;
  padding: 1rem;
  color: white;
  outline: none;
  border: 1px solid;
  border-radius: 12px;
  width: 100% !important;
  border-color: #40444F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 32px;
  padding: 16px;
  margin-top: 0;
  opacity: 1;
}

.btns:hover {
  cursor: pointer;
  border: 1px solid #2172E5;
}

.btns-light{
  background-color: #EDEEF2;
  padding: 1rem;
  outline: none;
  border: 1px solid;
  border-color: #CED0D9;
  border-radius: 12px;
  width: 100% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 32px;
  padding: 16px;
  margin-top: 0;
  color: black;
  opacity: 1;
}

.btns-light:hover{
  cursor: pointer;
  border: 1px solid #ff007a;
}

.optiongrid-left{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.optiongrid-left-headertext{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.optiongrid-right{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tokenmodal-wrapper-sc-1{
  margin: 0 0 2rem 0;
  background-color: #191B1F;
  border: 1px solid #212429;
  padding: 0px;
  width: 50vw;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 420px;
  max-height: 40vh;
  min-height: 30vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

.tokenmodal-wrapper-sc-1-light{
  margin: 0 0 2rem 0;
  background-color: var(--white);
  border: 1px solid #fff;
  color: black;
  padding: 0px;
  width: 50vw;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 420px;
  max-height: 40vh;
  min-height: 30vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

@media(max-width: 720px){
  .tokenmodal-wrapper-sc-1, .tokenmodal-wrapper-sc-1-light{
    width: 85vw;
  }
}

.tokenmodal-wrapper-sc-2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  position: relative;
}

.tokenmodal-column-1{
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 16px;
  padding: 20px;
}

.tokenmodal-headerrow{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.select-token{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 550;
  font-size: 16px;
}

.tokenclose{
  cursor: pointer;
}

.tokenmodal-column-2{
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 12px;
  padding: 0 20px 20px 20px;
}

.common-bases-headerrow{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.common-bases{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 550;
  font-size: 14px;
}

.tokenmodal-column-3{
  padding:0 20px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.token{
  border: 1px solid #40444F;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.token-light{
  border :1px solid rgb(206, 208, 217);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.token-light:hover{
  cursor: pointer;
  background-color: rgb(237, 238, 242);
}

.selected-token{
  border: 1px solid transparent;
  background-color: rgb(206, 208, 217);
  filter: grayscale(1);
  color: rgb(110, 114, 125);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basetoken{
  border: 1px solid transparent;
  background-color: rgb(64, 68, 79);
  filter: grayscale(1);
  color: rgb(143, 150, 172);
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.token:last-child{
  margin-left: 10px;
}

.token:hover{
  cursor: pointer;
  background-color: #2C2F36;
}


.basetoken:last-child{
  margin-left: 10px;
}

.common-base-token{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 600;
  font-size: 16px;
}

.token-logo{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.075);
  background-color: #FFFFFF;
}

.importmodal-wrapper-sc-1{
  background-color: var(--white);
  color: #000;
  width: 50vw;
}

.importmodal-wrapper-sc-2{
  padding: 20px;
}

.importmodal-headerrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}

.importmodal-title{
  font-size: 26px;
  font-weight: 400;
  color: #1c2e3e;
}

.importmodal-form{
  width: 100%;
}

.importmodal-intro {
  color: #9aa6ac;
  margin-bottom: 38px;
}

.importmodal-inputGroup {
  width: 100%;
  height: 55px;
  position: relative;
}

.importmodal-secretkey{
  position: relative;
  width: 100%;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
  border: solid 1px #d7e0e4;
  padding: 0 50px 0 22px;
  color: #3a3f43;
  margin-bottom: 38px;
}

#importmodal-show-icon {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 20px;
  right: 17px;
  height: 24px;
  width: 24px;
}

.importmodal-accept{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 12px 20px 16px 14px;
  background: #f0faf1;
  border-radius: 2px;
  margin-bottom: 18px;
  color: #505558;
}

.importmodal-accept-checkbox {
  margin-right: 12px;
  cursor: pointer;
}

.importmodal-accept-link {
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.importmodal-button {
  width: 188px;
  height: 55px;
  border-radius: 2px;
  border: solid 1px #5eb464;
  background-color: #69c76f;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: 0;
  cursor: pointer;
}

.importmodal-button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.importmodal-signupInvite {
  margin-left: 29px;
  font-size: 14px;
  font-weight: 400;
  color: #9aa6ac;
}

.importmodal-signupInvite a {
  text-decoration: none;
  color: #68c86f;
}

@media(max-width: 720px){
  .importmodal-wrapper-sc-1{
    width: 85vw;
  }
}
