:root{
  --white : #ffffff;
  --dark : #000000;
}






*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

html{
  height: 100%;
  position: relative;
}

button:hover{
    cursor: pointer;
}

.flex{
  display: flex;
  display: -ms-flexbox;
}

.wrapper-darkmode{
  background-color: #242037;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.wrapper-lightmode{
  background-color: #ffe2e2;
  color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

nav{
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding-left: 10px;
  font-weight: 900;
  font-size: larger;
  font-family: monospace;
}

.nav-menu{
  padding-top: 10px;
  padding-right: 10px;
}

.connect-to-wallet{
  padding-right: 10px;
}

.connect-dark{
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  align-content: center;
  padding: 5px 10px;
  border-radius: 12px;
  user-select: none;
  font-weight: 500;
  background-color: #1e6bcc70;
  border: 1px solid #153d6f70;
  color: #6da8ff;
}

.connect-light{
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  align-content: center;
  padding: 5px 10px;
  border-radius: 12px;
  user-select: none;
  font-weight: 500;
  background-color: #f0c5c5;
  border: none;
  color: #350505;
}

.darkmode{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 3px 8px;
  height: 35px;
  border-radius: 8px;
  margin: 0;
  background-color: #383257;
  border: none;
  color: #fff;
}

.darkmode:hover{
  background-color: #f4c5c58a;
}

.lightmode:hover{
  background-color: #383257;
  color: #fff;
}

.lightmode{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 3px 8px;
  height: 35px;
  border-radius: 8px;
  margin: 0;
  border: none;
  background-color: #f4c5c58a;
  color: #000;

}

.app-body-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0%;
  flex-shrink: 1;
  z-index: 1;
}

.app-body{
  position: relative;
  max-width: 480px;
  background-color: #191B1F;
  border-radius: 24px;
  margin-top: -3rem;
}

.title p{
  font-weight: bolder;
  font-size: 16px;
  margin-left: 20px;
  padding-top: 15px;
}

.swap-page{
  padding: 8px;
  position: relative;
}

.gridbox{
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 12px;
  row-gap: 12px;
}

.swap-currency-input{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-flow: column nowrap;
  width: initial;
  position: relative;
  border-radius: 20px;
  background-color: #2C2F36;
  z-index: 1;
  border: 1px solid #2C2F36;
}

.swap-currency-input:hover{
  border: 1px solid #40444F;
}

.currency-input{
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  padding: 16px 16px 12px 16px;
}

.currency-input button{
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  margin-right: 12px;
  width: initial;
  border: none;
  padding: 0 8px;
  height: 2.4rem;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
  color: var(--white);
  background-color: #191B1F;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  line-height: inherit;

}

.currency-input-panel{
  display: flex;
  width: 100%;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  -moz-box-align: center;
  -moz-box-pack: justify;
  align-items: center;
}

.currency-input-panel div{
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: fit-content;
}

.currency-input-panel div img{
  margin-right: 4px;
}

.currency-input-panel div span{
  margin: 0 4px 0 4px;
}

.dropdown{
  height: 35%;
  margin: 0 4px 0 5px;
}

.dropdown path{
  stroke: var(--white);
  stroke-width: 1.5px;
}

.currency-input input{
  color: #565A69;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: #2C2F36;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
}

.shuffle{
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  
}